@media (min-width: 360px) and (max-width: 640px) {
  .firstContainer {
    width: auto;
    height: 530px;
    justify-content: center;
    align-items: center;
    background: #f4f6f9;
  }

  .left_side_of_firstContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 5;
    margin-left: 0;
  }
  .left_side_of_firstContainer .logo img {
    display: flex;
    margin: 0 auto;
  }
  .left_side_of_firstContainer .title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    color: #333;
    margin-top: 80px;
    line-height: 37px;
    width: 320px;
    height: 119px;
    text-align: center;
  }
  .left_side_of_firstContainer .text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    margin-top: 30px;
    vertical-align: top;
    width: 320px;
    height: 70px;
  }
  .left_side_of_firstContainer .downloadLink {
    justify-content: space-around;
  }
  .left_side_of_firstContainer .downloadLink .android {
    cursor: pointer;
    margin-left: 5vw;
  }

  .secondContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    width: auto;
    height: auto;
    background: #fff;
  }

  .suk {
    display: none;
  }

  .sampleBlock {
    order: 2;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
  .sampleBlock .solo {
    display: none;
  }
  .sampleBlock .solo_mobile {
    display: block;
    height: 70vh;
    width: 100vw;
    margin: 0;
  }

  .suka {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 290px;
    width: 100vw;
  }

  .sample1 {
    top: 540px;
    left: -14vw;
    margin: 0 auto;
    z-index: 20;
    transform: scale(0.8);
  }

  .sample2 {
    top: 690px;
    left: 8vw;
    z-index: 19;
    transform: scale(0.75);
  }

  .secondContainer__rightBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secondContainer__rightBlock .secondContainer__rightBlock_pre_title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #00adee;
    margin-top: 54px;
    line-height: 21px;
  }
  .secondContainer__rightBlock .secondContainer__rightBlock_title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #333;
    margin-top: 27px;
    line-height: 37px;
    width: 320px;
    height: 74px;
    text-align: center;
  }
  .secondContainer__rightBlock .secondContainer__rightBlock_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    margin-top: 20px;
    vertical-align: top;
    width: 320px;
    height: 208px;
    text-align: center;
  }
  .secondContainer__rightBlock .secondContainer__rightBlock_more {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #00adee;
    margin-top: 22px;
    line-height: 21px;
    cursor: pointer;
  }

  .thirdBlock {
    margin: 0 auto;
    width: auto;
    height: auto;
    background: none;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .thirdBlock .thirdBlock__right_mobile {
    margin: 0 auto;
    margin-top: 5px;
    width: 100vw;
    height: 590px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: no-repeat url(images/thirdBlock_background_mobile.png) 50% 50%;
    background-size: 99%;
  }
  .thirdBlock .thirdBlock__left_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 460px;
    margin-left: 0;
  }
  .thirdBlock .thirdBlock__left_block .thirdBlock__left_block__Pre_title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #00adee;
    margin-top: 62px;
    line-height: 21px;
  }
  .thirdBlock .thirdBlock__left_block .thirdBlock__left_block__title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #333;
    margin-top: 27px;
    line-height: 37px;
  }
  .thirdBlock .thirdBlock__left_block .thirdBlock__left_block__text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    margin-top: 27px;
    vertical-align: top;
    width: 320px;
    height: 208px;
    text-align: center;
  }
  .thirdBlock .thirdBlock__left_block .thirdBlock__left_block__more {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #00adee;
    margin-top: 54px;
    line-height: 21px;
    cursor: pointer;
  }

  .fourthBlock {
    margin: 0 auto;
    width: auto;
    height: auto;
    padding-bottom: 70px;
    justify-content: center;
    background: #fafafa;
  }
  .fourthBlock .fourthBlock_title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #333;
    margin-top: 42px;
    line-height: 37px;
    color: #333;
    width: 318px;
    height: 74px;
    text-align: center;
  }
  .fourthBlock .fourthBlock_features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .fourthBlock .fourthBlock_features .fourthBlock_features__element {
    display: flex;
    flex-direction: column;
    width: 311px;
    height: auto;
    margin-top: 50px;
    margin-left: 0;
  }
  .fourthBlock .fourthBlock_features .element_image {
    margin: 0 auto;
    filter: invert(48%) sepia(13%) saturate(5207%) hue-rotate(182deg) brightness(99%) contrast(90%);
  }
  .fourthBlock .fourthBlock_features .element_image__title {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    margin-top: 16px;
    text-align: center;
  }
  .fourthBlock .fourthBlock_features .element_image__title li {
    list-style-type: none;
  }

  .fifthBlock {
    margin: 0 auto;
    width: auto;
    height: 431px;
    font-size: 44px;
  }

  .sixthBlock {
    margin: 0 auto;
    width: 100%;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
  }
  .sixthBlock .sixthBlock__ttitle {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #333;
    margin-top: 57px;
    line-height: 37px;
    padding-top: 57px;
    margin: 0 auto;
  }

  .sixthBlock__featuredUnits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 70px;
    width: 92%;
  }
  .sixthBlock__featuredUnits img {
    margin-left: 30px;
    margin-top: 30px;
  }

  .seventhBlock {
    margin: 0 auto;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    order: 1;
    background: none;
  }

  .seventhBlock__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
    margin-left: 0;
    height: 385px;
  }
  .seventhBlock__content .seventhBlock__content_title {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    color: #333;
    margin-top: 29px;
    line-height: 37px;
    margin: 0 auto;
    width: 320px;
    height: 74px;
    text-align: center;
  }
  .seventhBlock__content .seventhBlock__content_text {
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    color: #4f4f4f;
    margin-top: 15px;
    vertical-align: top;
    margin: 0 auto;
    margin-top: 15px;
    width: 80%;
    height: 200px;
    text-align: center;
  }
  .seventhBlock__content .downloadLink_footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }
  .seventhBlock__content .downloadLink_footer .IOS_footer {
    cursor: pointer;
  }
  .seventhBlock__content .downloadLink_footer .android_footer {
    cursor: pointer;
    margin-left: 20px;
  }

  .seventhBlock__left_mobile {
    height: 35vh;
    margin: 0 auto;
    width: 100vw;
    order: 5;
    background: no-repeat url(images/pre_footer_image__mobile.png) 60% 50%;
    background-size: 99%;
  }

  footer {
    margin: 0 auto;
    width: auto;
    height: auto;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  footer .logos {
    cursor: pointer;
    outline: none;
    margin: 0 auto;
    margin-top: 40px;
    margin-left: 20px;
    order: 1;
  }
  footer .linkBlok {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    order: 3;
    margin-bottom: 45px;
    margin-top: 30px;
  }
  footer .linkBlok a {
    font-family: Lato;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    color: #333;
    margin-top: 0;
    line-height: 37px;
    color: #fff;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    margin-left: 20px;
  }
  footer .socialsBlock {
    order: 2;
    margin-left: 20px;
    margin-right: 0;
    margin-top: 15px;
  }
  footer .socialsBlock img {
    margin-right: 17px;
    cursor: pointer;
  }
}

/*# sourceMappingURL=output_mobile.css.map */
